@{
    ViewBag.Title = "Home Page";
}

<button id="btnSignPdf">Sign Pdf</button>

@section scripts {
    <script src="~/Content/js/forge.min.js"></script>
    <script src="~/Content/js/util.js"></script>

    <script type="module" defer>
        import { CAPluginService } from '/Content/js/CAPluginService.js';

        var _service = new CAPluginService();

        $("#btnSignPdf").on("click", () => {
            _service.getToken()
                .then(token =>
                    _service
                        .getCert(token)
                        .then(certBase64 => {
                            //var pki = forge.pki;

                            //var pem = util.pemFromBase64Cert(base64Cert);
                            //var cert = pki.certificateFromPem(pem);

                            preSign(certBase64);
                        })
                );
        });

        function preSign(certBase64) {
            var data = {
                CommaSeparatedCertChainBase64: certBase64
            };

            $.ajax({
                url: '/Home/PreSign',
                method: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function (data) {
                    insertSignature(data.uniqueId, data.srcPath, data.digest)
                }
            })
        }

        function insertSignature(uniqueId, pathToSrcPdf, signatureBases64) {
            var data = {
                UniqueId: uniqueId,
                PathToSrcPdf: pathToSrcPdf,
                SignatureBases64: signatureBases64
            };

            $.ajax({
                url: '/Home/InsertSignature',
                method: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function (data) {

                }
            })
        }

    </script>
}   