@{
    ViewBag.Title = "Home Page";
}

<button id="btnSignPdf">Sign Pdf</button>

@section scripts {
    <script src="~/Content/js/forge.min.js"></script>
    <script src="~/Content/js/util.js"></script>

    <script type="module" defer>
        import { CAPluginService } from '/Content/js/CAPluginService.js';

        var _service = new CAPluginService();
        var _serialNumber = "";

        $("#btnSignPdf").on("click", () => {
            _service
                .getToken()
                .then(token => 
                    _service
                        .getCert(token)
                        .then(commaSeparatedCertChainBase64 => {
                            var pki = forge.pki;

                            var pem = util.pemFromBase64Cert(commaSeparatedCertChainBase64);
                            var cert = pki.certificateFromPem(pem);
                            _serialNumber = cert.serialNumber;

                            if (commaSeparatedCertChainBase64 && commaSeparatedCertChainBase64 != 'E04') {
                                preSign(commaSeparatedCertChainBase64, token, 'one_page.pdf');
                            }
                        })
                        .catch(e => console.error("Do you plug USB token and plugin is still running?"))
                )
                .catch(e => console.error("Do you plug USB token and plugin is still running?"));
        });

        function preSign(commaSeparatedCertChainBase64, token, srcPdf) {

            var data = {
                CommaSeparatedCertChainBase64: commaSeparatedCertChainBase64,
                SrcPdf: srcPdf
            };

            $.ajax({
                url: '/Home/PreSign',
                method: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function (response) {
                    if (response.Status == 1) {
                        _service
                            .signHash(token, response.Data.Digest, _serialNumber)
                            .then(signatureBase64 => {
                                if (signatureBase64 && signatureBase64 != 'E04') {
                                    insertSignature(response.Data.UniqueId, response.Data.SrcPdf, signatureBase64)
                                }
                            })
                            .catch(e => console.error("Do you plug USB token and plugin is still running?"));
                    } else {
                        console.error(response.Data.Message);
                    }
                }
            })
        }

        function insertSignature(uniqueId, srcPdf, signatureBases64) {
            var data = {
                UniqueId: uniqueId,
                SrcPdf: srcPdf,
                SignatureBases64: signatureBases64
            };

            $.ajax({
                url: '/Home/InsertSignature',
                method: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function (response) {
                    if (response.Status == 1) {
                        console.log("Success")
                    } else {
                        console.error(response.Data.Message);
                    }
                }
            })
        }

    </script>
}   